/* Contenedor principal */
.searchpage-container {
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    background-image: url('../../imgs/Search page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
  }

  .searchpage-title {
    font-size: var(--font-size-6xl);
    font-weight: var(--font-weight-bold);
    padding: 0;
    color: white;
    text-align: initial;
    margin-top: 3rem;
    margin-left: 3rem;
  }