/* Contenedor principal */
.chatspage-container {
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    background-image: url('../../imgs/Chats page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
  }