/* Contenedor principal */
.chatspage-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../../imgs/Chats.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }