.back-button {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    border: none;                  
    cursor: pointer;
    display: flex;
    margin-left: 2rem;
    margin-top: -41.5rem;
  }

  .back-icon {
    width: 1rem;
    height: 2rem;
  }
