/* Contenedor principal */
.uploadpost-container {
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    background-image: url('../../imgs/Upload post.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
  }

  .uploadpost-title {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-bold);
    margin: 5rem;
    padding: 0;
    color: white;
    text-align: initial;
  }