.my-button {
  width: 300px;
  height: 60px;
  background: #5a00ff;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  margin: 0 auto;
}

.my-button:hover {
  background: #3a0099;
};